{% extends "header.html" %}

{% block body %}
    <table width="100%">
        <tr>
            <td width="18%"></td>
            <td width="64%">
                <table width="100%">
                    <tr>
                        <td class="w3-animate-opacity" style="" colspan="2"><h4>ABOUT GEOGARDEN</h4></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr class="w3-animate-opacity" style="color: #2F2E2E; width: 100%; height: 0; border-style: solid; animation-duration: 1s;" /></td>
                    </tr>
                    <tr>
                        <td width="80%" class="w3-animate-opacity" style="animation-duration: 1.5s;">
                            <p><b>Geo Garden</b> is a connective platform to support the Guerilla Gardening community. Guerilla Gardening is the act of planting and maintaining gardens on public or private property, often without the permission of the owners, with the intention of beautifying the area and creating a culture of service and good mental health.<br>
                            Our team is comprised of 5 members who developed this project as the term project for CS 1530: Software Engineering.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" class="w3-animate-opacity" style="animation-duration: 2.5s;"><hr style="color: #2F2E2E; width: 100%; height: 0; border-style: solid;" /></td>
                    </tr>
                    <tr>
                        <td class="w3-animate-opacity" colspan="2" style="animation-duration: 2s;"><h4>THE TEAM</h4></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table width="100%">   <!--ADDING A SECONDARY TABLE TO CONTAIN PICTURES AND BIOS-->
                                <tr class="w3-animate-opacity" style="animation-duration: 3s;">
                                    <!--THIS BLOCK IS FOR PORTRAITS-->
                                    <td width="20%">
                                        <!--<img class="w3-round" sizes="215px" srcset="IMG_3497.jpg 640w,IMG_3497.jpg 750w,IMG_3497.jpg 1080w" src="IMG_3497.jpg" style="">-->
										<img class="w3-round" width="100%" src="../static/img/IMG_3497.jpg" style="">
                                    </td>
                                    <td width="20%">
                                        <!--<img class="w3-round" size="215px" srcset="IMG_3497.jpg 640w,IMG_3497.jpg 750w,IMG_3497.jpg 1080w" src="IMG_3497.jpg" style="">-->
										<img class="w3-round" width="100%" src="../static/img/bread.jpg" style="">
                                    </td>
                                    <td width="20%">
                                        <!--<img class="w3-round" size="215px" srcset="IMG_3497.jpg 640w,IMG_3497.jpg 750w,IMG_3497.jpg 1080w" src="IMG_3497.jpg" style="">-->
										<img class="w3-round" width="100%" height="10%" src="../static/img/20191019_134849.jpg" style="">
                                    </td>
									<td width="20%">
                                        <!--<img class="w3-round" size="215px" srcset="IMG_3497.jpg 640w,IMG_3497.jpg 750w,IMG_3497.jpg 1080w" src="IMG_3497.jpg" style="">-->
										<img class="w3-round" width="100%" height="15%" src="../static/img/IMG_11101.jpg" style="">
                                    </td>
									<td width="20%">
                                        <!--<img class="w3-round" size="215px" srcset="IMG_3497.jpg 640w,IMG_3497.jpg 750w,IMG_3497.jpg 1080w" src="IMG_3497.jpg" style="">-->
										<img class="w3-round" width="100%" src="../static/img/IMG_3497.jpg" style="">
                                    </td>
                                </tr>
                                <tr class="w3-animate-opacity" style="animation-duration: 4s;">
                                    <!--THIS BLOCK IS FOR NAMES-->
                                    <td width="1/5"><h4>SAM TAYLOR</h4></td>
                                    <td width="1/5"><h4>ROWAN MASHYNA</h4></td>
                                    <td width="1/5"><h4>ZACH SMITH</h4></td>
									<td width="1/5"><h4>ALEX BAILEY</h4></td>
									<td width="1/5"><h4>JAKE STEWART</h4></td>
                                </tr>
                                <tr class="w3-animate-opacity" style="animation-duration: 4.5s;">
                                    <!--THIS BLOCK IS FOR HORIZONTAL RULERS-->
                                    <td width="1/5"><hr style="color: #2F2E2E; width: 80%; height: 0; border-style: solid; margin: 10%;" align="center"/></td>
                                    <td width="1/5"><hr style="color: #2F2E2E; width: 80%; height: 0; border-style: solid; margin: 10%;" align="center"/></td>
                                    <td width="1/5"><hr style="color: #2F2E2E; width: 80%; height: 0; border-style: solid; margin: 10%;" align="center"/></td>
                                    <td width="1/5"><hr style="color: #2F2E2E; width: 80%; height: 0; border-style: solid; margin: 10%;" align="center"/></td>
                                    <td width="1/5"><hr style="color: #2F2E2E; width: 80%; height: 0; border-style: solid; margin: 10%;" align="center"/></td>
                                </tr>
                                <tr class="w3-animate-opacity" style="animation-duration: 5s;">
                                    <!--THIS BLOCK IS FOR BIOS-->
                                    <td width="1/5"><p>Sam Taylor's custom bio:</p></td>
                                    <td width="1/5"><p>Rowan Mashyna is a senior computer science student at the University of Pittsburgh. Outside of CS he is active in Pitt's Eastern European and language learning communities.</p></td>
                                    <td width="1/5"><p>Zach Smith is a senior computer science student at the University of Pittsburgh where he is a part of the BS/MS program.  Outside of class he participates in band and RUF.</p></td>
                                    <td width="1/5"><p>Alex Bailey is a second-year computer science major at the University of Pittsburgh. Outside of class, he runs a small freelance game design studio named Wise Kraken Studios with projects developed for clients around the world.</p></td>
                                    <td width="1/5"><p>Jake Stewart's custom bio:</p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="18%"></td>
        </tr>
    </table>
{% endblock %}
