<!doctype html>
<title>{% block title %}Welcome{% endblock %} | GeoGarden</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/../static/css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Abel'>
<link href='../static/css/core.css' rel='stylesheet'>
<link rel="icon" href="../static/img/logo.png">
<script src="../static/js/home.js"></script>
<link href='../static/css/core.css' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<div class="container">
  <img class="w3-round" width="5%" height="15%" src="../static/img/logo.png" style="float: left">
  <h1><a href="{{ url_for('index') }}">GeoGarden</a></h1>
  <div class="container">
  {% if g.user.user_type == 'owner' %}
    <a href="{{ url_for('index') }}">Home</a> |
    <a href="{{ url_for('profile') }}">Dashboard</a> |
    <a href="{{ url_for('register') }}">Create new contributor</a> |
    <a href="{{ url_for('logout') }}">Log out [{{ g.user.username }}]</a> |
    <a href="{{ url_for('pin') }}">Add A Garden</a> |
    <a href="{{ url_for('garden') }}">Gardens</a> |
    <a href="{{ url_for('plant') }}">Plants</a> |
    <a href="{{ url_for('about') }}">About Us</a> 
  {% elif g.user.user_type == 'contributor' %}
    <a href="{{ url_for('index') }}">Home</a> |
      <a href="{{ url_for('profile') }}">Dashboard</a> |
      <a href="{{ url_for('logout') }}">Log out [{{ g.user.username }}]</a> |
      <a href="{{ url_for('pin') }}">Add A Garden</a> |
      <a href="{{ url_for('garden') }}">Gardens</a> |
      <a href="{{ url_for('plant') }}">Plants</a> |
      <a href="{{ url_for('about') }}">About Us</a> 
  {% elif g.user.user_type == 'admin' %}
      <a href="{{ url_for('index') }}">Home</a> |
      <a href="{{ url_for('profile') }}">Dashboard</a> |
      <a href="{{ url_for('logout') }}">Log out [{{ g.user.username }}]</a> |
      <a href="{{ url_for('pin') }}">Add A Garden</a> |
      <a href="{{ url_for('garden') }}">Gardens</a> |
      <a href="{{ url_for('plant') }}">Plants</a> |
      <a href="{{ url_for('about') }}">About Us</a> 
  {% else %}
    <a href="{{ url_for('index') }}">Home</a> |
     <a href="{{ url_for('about') }}">About Us</a> |
    <a href="{{ url_for('register') }}">Sign Up</a> |
    <a href="{{ url_for('login') }}">Sign In</a>
    
  {% endif %}
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="container">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="container">
    <tr>‏‏‎ ‎</tr> <!--invisible characters in these rows cause it's amateur hour-->
    <tr>‏‏‎ ‎</tr>
    <tr>‏‏‎ ‎</tr>
  {% block body %}{% endblock %}
  </div>
</div>
